{% extends 'user/base.html' %} {%load static%} {% block content %}
<div class="container">
  <h1
    class="mt-4 mx-2 mb-2"
    style="
      font-family: Alata, sans-serif; /*border-color: rgb(19,28,65);*/
      color: rgb(33, 48, 114);
      font-weight: 600;
    "
  >
    {{service.service_name}}
  </h1>
  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="col-12">
          <img
            class="img-thumbnail img-fluid center-block"
            src="{% static 'img/' %}{{service.service_image_name}}"
          />
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <p>{{service.service_description}}</p>
      <a href = '{{URL}}/book_service/{{service.service_id}}'
      <button
        class="btn btn-lg action-button"
        type="button"
        style="background-color: #66d7d7; color: white; margin: 0px 0px 0px 0px"
      >
        Book Now
      </button>
      </a>
    </div>
  </div>
</div>

{% endblock %}
